{% extends 'layout.html.twig' %}

{% block title %}
    Cinequizz
{% endblock %}

{% block content %}
    <div class="container">
    
     <p class=slogan>VIENS JOUER NOS "QUIZ CINÉ" / OU CRÉE DES QUIZ POUR TES AMIS <p>
    
        <div class='accueil'>
    
        <div class='texteaccueil'>
        <div class=text>On t'attend en Salle "Numéro 4"</div>
        <div class=text><strong>Prends vite ton billet !!!</strong></div>
        </div>
        

        <div class="boutonaccueil">
        <div class='imagejouer'><a href="/theme" class="bouton"><img src="/assets/images/boutonjouer.png"></a></div>  
        <div class='imagecreer'><a href="/create" class="bouton"><img src="/assets/images/boutoncreer.png"></a></div>
        </div>

        </div>
    
</div>

{% endblock %}
