{% block navbar %}
<nav>
    <div class="logotitre">
    <div class="logo"><a href="/"><img src="/assets/images/Logo_V3.png" alt="Logo" /></a></div>
    <div class="titre">CINÉ QUIZ</div>
    </div>
        
    <div class="partenaire">Notre partenaire :<br><a href="http://www.lapelliculeensorcelee.org/"><img src="/assets/images/pellicule.png" alt="Pellicule Ensorcelée" /></a><div>  
</nav>
{% endblock %}