<!doctype html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="/assets/images/favicon.png">

    <title>{% block title %}CINEQUIZ{% endblock %}</title>

    {% block stylesheet %}<link rel="stylesheet" href="/assets/css/style.css">{% endblock %}  
</head>

<body>
{% block navbar %}{% include '_nav.html.twig' %}{% endblock %}
{# {% block javascript %}{% endblock %} #}
{% block content %}{% endblock %}
</body>
<footer>
{% block footer %}{% endblock %}
</footer>
</html>
